<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP7TCBPq7qUlk4t2yO-SVM9673fLm0MIU</string>
	<key>GCM_SENDER_ID</key>
	<string>412225805390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nekowaifu.nekoWaifu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nekowaifu-37dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>nekowaifu-37dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412225805390:ios:3425d367664aaa5e98b71f</string>
	<key>DATABASE_URL</key>
	<string>https://nekowaifu-37dbb-default-rtdb.firebaseio.com</string>
</dict>
</plist>